/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --text-color: #000000;
    --main-color: #964B00;
}

section {
    padding: 50px 10%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 100px;
    background: #edecea;
}

.logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    color: var(--main-color);
}

.navbar {
    position: relative;
    display: flex;
}

.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--text-color);
}

.navbar a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-image: url(images/img2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.home-text h1 {
    font-size: 2.8rem;
}

.home-text p {
    font-size: 1rem;
    margin: 0.4rem 0 1.8rem;
    font-weight: 500;
}

.home-text span {
    color: var(--main-color);
}

.btn {
    padding: 10px 14px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.3rem;
    font-size: 14px;
}

.btn:hover {
    background: #b36110;
}

.heading {
    text-align: center;
}

.heading span {
    font-size: 14px;
    font-weight: 500;
    color: var(--main-color);
    text-transform: uppercase;
}

.shop-container,
.new-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box {
    position: relative;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.1);
    border-radius: 8px 8px 8px 8px;
}

.box .box-img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 8px 8px 0 0;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box .box-img img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.title-price {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.title-price h3 {
    font-size: 1rem;
    font-weight: 600;
}

.box span {
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 12px;
    color: var(--main-color);
}

.stars .bx {
    color: var(--main-color);
}

.box .bx-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    border-radius: 4px 0 4px 0;
    background: var(--main-color);
}

.box .bx-cart:hover {
    background: #b36110;
}

.new-container .box {
    border-radius: 4px;
}

.new-container .box .box-img {
    border-radius: 4px;
}

.about {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    
}

.about-img img {
    margin-bottom: 100px;
    width: 70%;
    border-radius: 10px;
    object-fit: contain;
    
}

.about-text span {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
}

.about-text p {
    font-size: 0.938rem;
    margin: 0.5rem 0 1.4rem;
    text-align: justify;
    text-justify: inter-word;
}



.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.newsletter h2 {
    color: #fff;
}

.news-box {
    display: flex;
    align-items: center;
    margin-top: 2rem;    
}

.news-box input {
    width: 260px;
    height: 44px;
    border: none;
    outline: none;
    background: #fff;
    padding: 10px;
    border-radius: 4px 0 0 4px;
}

.news-box .btn {
    height: 44px;
    padding: 11px;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 0  4px 4px 0;
}

.footer {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    gap: 1rem;
}

.footer-box h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-box span {
    color: var(--main-color);
}

.footer-box p {
    font-size: 00.938rem;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
}

.social a {
    font-size: 24px;
    margin-right: 10px;
    color: var(--text-color);
}

.social a:hover {
    color: var(--main-color);
}

.footer-box h3 {
    font-weight: 500;
    margin-bottom: 10px;
}

.footer-box li a {
    color: var(--text-color);
}

.footer-box li a:hover {
    color: var(--main-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-info span {
    color: var(--text-color);
}

.copyright {
    padding: 20px;
    text-align: center;
}

/* Making Responsive */
@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }

    section {
        padding: 50px 4%;
    }
}

@media (max-width: 881px) {
    .home-text h1 {
        font-size: 2rem;
    }

    .shop-container,
    .new-container {
        grid-template-columns: repeat(auto-fit, minmax(218px, auto));
    }
}

@media (max-width: 768px) {
    header {
        padding: 11px 4%;
    }

    #menu-icon {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 4px 4px rgb(0 0 0 /10%);
        transition: 0.2s ease;
        text-align: center;
    }

    .navbar a {
        padding: 1.5rem;
        display: block;
    }

    .navbar.active {
        top: 100%;
    }

    .navbar a:hover {
        color: #fff;
        background: var(--main-color);
    }

    .about {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about-img {
        padding-top: 1rem;
        order: 2;
    }
}

@media (max-width: 491px) {
    .home-text h1 {
        font-size: 1.7rem;
    }

    .shop-container,
    .new-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    }

    .box .box-img {
        height: 300px;
    }

    .news-box input {
        width: 180px;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }
}

.container{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');



.discount {
    color: green;
    font-size: 20px;
    padding: 20px;
}

.img1 {
    height: 80px;
    width: 80px;
}

.heading {
    font-family: "Bree serif";
    padding-bottom: 20px;
}

.input {
    height: 40px;
    width: 60%;
    padding-left: 10px;
    border-radius: 5px;
    margin-top: 20px;
    color: black;
    font-family: "Bree serif";

}

.button {
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
    width: 80px;
    height: 40px;
    margin-top: 20px;

}



.container2 {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 20px 14px rgba(0, 0, 0, 0.7);
    transition: 0.2s;
}


.img2 {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 40vh;

}

.para3 {
    color: black;
    font-size: 15px;

}

.heading2 {
    color: black;
    font-size: 30px;
    font-family: "Roboto";
}

.container2:hover {
    transform: scale(1.1);
    z-index: 2;
}

.bg-container {
    background-color: #faf5f5;
    text-align: center;
}

.image-container {
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    font-weight: 400;

}

.image-heading {
    color: white;
    padding: 30px;
}

.image-container1 {
    
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    font-weight: 400;

}

.image-container2 {
    
    height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "sans-serif";
    font-weight: 400;
}



.discount-container {
    
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 40px;
}

.discount-card-container {
    background-color: black;
    height: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.discount-container-para1 {
    font-family: "Cursive";
    font-size: 30px;

}

.discount-card-button {
    width: 130px;
    height: 50px;
}


.user-container {
    background-color: #0275d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}



.user-para {
    color: white;
    font-size: 15px;
}

.user-heading {
    color: white;
    font-size: 30px;
    text-decoration: underline;
    font-family: cursive;
}

.user-image {
    height: 20vh;
    border-radius: 50%;
}

.checked {
    color: orange;
}

.cart {
    padding: 40px;
    color: black;
}

.main_thing{
    padding-top:0.5%;
}

.heading_cart {
    text-align: center;
}

.image_cart {
    height: 20%;
    width: 30%;
    max-height: 20%;
    padding-bottom: 30px;
}

.items {
    list-style-type: none;
    justify-content: space-between;
}

.main_thing{
    margin-top:500px;
}
.total_cost {
    font-size: 30px;
    padding: 20px;
    padding-bottom: 30px;
}


#unlist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.list-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    flex: 1 0 30%;
    /* Adjust as needed */
}

.list-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}





.background {

    background-image: url("https://img.freepik.com/free-photo/photorealistic-style-clouds_23-2151058830.jpg?t=st=1705246106~exp=1705249706~hmac=4605dcecf9e0dccca3ac3e6f4cbb1e0c8643879a8e3236a06c595183f034e5d8&w=740");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    width: 100%;
}

.login_card_title {
    color: black;
    font-size: 30px;
    font-family: "Roboto";
    font-weight: 700;
    font-style: oblique;
}

.login_container {
    background-color: white;
    
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 4%;
    width: 100%;
    box-shadow: 10px 10px 5px #818281;
    border-radius: 10px;
}

.username {
    border-radius: 10px;
}

.signing {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}